---
title: Jumanji
---



{% include jumanjihead.html %}

<section class="margin-left-container">
    <section>
        {% include synopsis.html %} 
    </section>
    <section>
        {% include reservation.html %}
    </section>
    <section>
    {% include avis.html %}
    </section>
    
    {% include recommandation.html %}
    <article>
        {% include location.html %}
    </article>
</section>
<script>console.log("chargement")
 
var date=document.getElementById("date")
    var flechedroite=document.getElementById("reservationdroite")
    var index=0
    date.style.transform="translateX("+index * -12.5+"%)"
    function clickdroit(){
        index++
        if(index>4){
            index=0
        }
        date.style.transform="translateX("+index * -12.5+"%)"
    }
    flechedroite.onclick= clickdroit
</script>

