---
title: Bienvenue sur la page d'accueil
---

<section class="margin-left-container"> 
    <section>
        {% include header.html %}
    </section>
    <section>
        {% include couroussel.html %}
    </section>
    <section>
        {% include lastmin.html %}
    </section>
    <article>
        {% include histoire-megarama.html %}
    </article>
    <article>
        {% include studentpass.html %}
    </article>
    <article>
        {% include location.html %}
    </article>
    
</section>

