<footer>
    <div class="global">
        <div class="Home">
            <img src="assets/images/LogoPeyo.png" alt="Megarama" width="129.39" height="129"/>   
            <h2>Accueil</h2>
        </div>

        <div class="Film">
            <h2>Film</h2>
            <ul class="foot">
                <li> A l'affiche</li>
                <li> Prochainement</li>
                <li> Dernière minute</li>
            </ul>
        </div>
        <div class="Event">
            <h2>Evenement</h2>
            <ul class="foot">
                <li> Fête du cinéma</li>
                <li> Festival du cinéma </li>
                <li> Marathon cinéphile</li>
            </ul>
        </div>
        <div class="Money">
            <h2>Offres & tarifs</h2>
            <ul class="foot">
                <li> Pass étudiant</li>
                <li> Abonnements</li>
                
            </ul>
        </br>
        </div>
    </div>
    </br> </br>
    <div class="global2">
        
        <div class="logoimage">
            <img src="/assets/images/twitter.png" alt="RS" height="90" width="90"/>
            <img src="/assets/images/facebook.png" alt="RS" height="90" width="90"/>
            <img class="insta" src="/assets/images/insta.png" alt="RS" height="65" width="65"/>
            <img class="yt" src="assets/images/youtube.png" alt="RS" height="65" width="65"/>
        </div>
        
        <div class="Usefull-Info">
            <h2>Infos pratiques</h2>
            <ul class="foot">
                <li> Localisation</li>
                <li> Contact</li>
                <li> Groupe Megarama</li>
                <li> Mentions légales</li>
                <li> Confidentialités et cookies</li>
            </ul>
        </div>
        <div class="App">
            <h2>Téléchargez </br>l'appli mobile</h2>
        </br>
            <img src="assets/images/Goulougoulou.png" alt="GoogleStore" height="62" width="161"/>
            <img src="assets/images/AppStore.png" alt="Appstore" height="59" width="152"/>
        </div>
    </div>
</footer>