<footer id="mention">
    
    <div class="global">

        <div class="container">
            <div class="row">
        
        
                <div class="Home all-link col-lg-3 col-3">
                    <a href="/index"><img class="dimen_logo" src="/assets/images/LogoPeyo.png" alt="logo megarama" width="129.39" height="129"></a>
                    <h2 class="titre-menu-footer-accueil"><a class="lien-footer" href="/index">Accueil</a> </h2>
                </div>
        
                <div class="Film all-link col-lg-3 col-3">
                    <h2 class="titre-menu-footer"> <a class="lien-footer" href="/film">Film</a></h2>
                    <ul class="foot">
                        <li class="film-sous-menu"> A l'affiche</li>
                        <li class="film-sous-menu"> Prochainement</li>
                        <li class="film-sous-menu"> Dernière minute</li>
                    </ul>
                </div>
                <div class="Event all-link col-lg-3 col-3">
                    <h2 class="titre-menu-footer"> <a class="lien-footer" href="/film">Evenement</a></h2>
                    <ul class="foot">
                        <li class="film-sous-menu"> Fête du cinéma</li>
                        <li class="film-sous-menu"> Festival du cinéma </li>
                        <li class="film-sous-menu"> Marathon cinéphile</li>
                    </ul>
                </div>
                <div class="Money all-link col-lg-3 col-3">
                    <h2 class="titre-menu-footer"><a class="lien-footer" href="/_pages/film.html">Offres & tarifs</a></h2>
                    <ul class="foot">
                        <li class="film-sous-menu"> Pass étudiant</li>
                        <li class="film-sous-menu"> Abonnements</li>
        
                    </ul>
                    </br>
                </div>
            </div>
        </div>
        </div>
  
        
        
        <div class="global2">
        
            <div class="container">
                <div class="row">
                    <div class="link-rsx col-lg-6 col-6">
        
                        <div class="col-lg-1 col-2">
                            <a class="lien-rs" href="https://twitter.com/MegaramaBdx"> <img src="/assets/images/twitter.png"
                                    alt="RS" class='rs_responsive1'></a>
                        </div>
                        <div class="col-lg-1 col-2">
                            <a class="lien-rs" href="https://www.facebook.com/MegaramaBordeauxBastide/"> <img
                                    src="/assets/images/facebook.png" alt="RS" class="fc rs_responsive1" /> </a>
                        </div>
                        <div class="col-lg-1 col-2">
                            <a class="lien-rs" href="https://www.instagram.com/megarama_bordeaux_officiel/"> <img
                                     src="/assets/images/insta.png" alt="RS" class="insta rs_responsive2"  /></a>
                        </div>
                        <div class="col-lg-1 col-2">
                            <a class="lien-rs" href="https://www.youtube.com/channel/UCBJPvdQWqdHyFici-JW4Q2g"> <img
                                     src="assets/images/youtube.png" alt="RS"  class="yt rs_responsive2" /></a>
                        </div>
                    </div>
        
                    <div class="Usefull-Info all-link col-lg-3 col-3">
                        <h2 class="titre-menu-footer"> <a class="lien-footer" href="/_pages/film.html">Infos pratiques</a></h2>
                        <ul class="foot foot2">
                            <li class="film-sous-menu"> Localisation</li>
                            <li class="film-sous-menu"> Contact</li>
                            <li class="film-sous-menu"> Groupe Megarama</li>
                            <li class="film-sous-menu"> Mentions légales</li>
                            <li class="film-sous-menu"> Confidentialités et cookies</li>
                        </ul>
                    </div>
                    <div class="App all-link col-lg-3 col-3">
                        <h2 class="titre-menu-footer"> <a class="lien-footer" href=""> A télécharger</a></h2>
        
                        <img src="assets/images/Goulougoulou.png" alt="GoogleStore" class="google" height="62" width="161" />
                        <img src="assets/images/AppStore.png" alt="Appstore" class="apple" height="59" width="152" />
                    </div>
                </div>
            </div>
            </footer>
