<footer>
    <div class="global">

        <div class="container">
            <div class="row">


        <div class="Home col-lg-3 col-6">
            <img src="assets/images/LogoPeyo.png" alt="Megarama" width="129.39" height="129"/>   
            <h2 class="titre-menu-footer-accueil">Accueil</h2>
        </div>

        <div class="Film col-lg-3 col-6">
            <h2 class="titre-menu-footer">Film</h2>
            <ul class="foot">
                <li> A l'affiche</li>
                <li> Prochainement</li>
                <li> Dernière minute</li>
            </ul>
        </div>
        <div class="Event col-lg-3 col-6">
            <h2 class="titre-menu-footer">Evenement</h2>
            <ul class="foot">
                <li> Fête du cinéma</li>
                <li> Festival du cinéma </li>
                <li> Marathon cinéphile</li>
            </ul>
        </div>
        <div class="Money col-lg-3 col-6">
            <h2 class="titre-menu-footer">Offres & tarifs</h2>
            <ul class="foot">
                <li> Pass étudiant</li>
                <li> Abonnements</li>
                
            </ul>
        </br>
    </div>
</div>
        </div>
    </div>



    </br> </br>
    <div class="global2"> 
        
        <div class="container">
            <div class="row">

        <div class="col-lg-1 col-2">
            <img  src="/assets/images/twitter.png" alt="RS" height="90" width="90"/>
        </div>
        <div class="col-lg-1 col-2">
            <img  src="/assets/images/facebook.png" alt="RS" height="90" width="90"/>
        </div>
        <div class="col-lg-1 col-2">
            <img class="insta" src="/assets/images/insta.png" alt="RS" height="65" width="65"/>
        </div>
        <div class="col-lg-1 col-2">
            <img class="yt" src="assets/images/youtube.png" alt="RS" height="65" width="65"/>
        </div>
        
        <div class="Usefull-Info col-lg-4 col-6">
            <h2 class="titre-menu-footer">Infos pratiques</h2>
            <ul class="foot">
                <li> Localisation</li>
                <li> Contact</li>
                <li> Groupe Megarama</li>
                <li> Mentions légales</li>
                <li> Confidentialités et cookies</li>
            </ul>
        </div>
        <div class="App col-lg-4 col-6">
            <h2 class="titre-menu-footer">Téléchargez </br>l'appli mobile</h2>
        </br>
            <img src="assets/images/Goulougoulou.png" alt="GoogleStore" height="62" width="161"/>
            <img src="assets/images/AppStore.png" alt="Appstore" height="59" width="152"/>
        </div>
    </div>
    </div>
    </div>
</footer>