<header class="cover" id="header">
    <img src="/assets/images/Frame_7.png" alt="cover">
    <div class="logo">
       <a href="/index"><img src="/assets/images/LogoPeyo.png" alt="logo megarama"></a>
    </div>
    <h1 class="gros_titre col-4">Votre cinéma <br>
        à bordeaux
    </h1>

</header>

<header class="menu">

    <div class="header">
        <nav>
            <ul class="menu1">
                <li class="item-menu">
                    <a href="film.html">Films</a>
                    <ul class="subnav">
                        <li><a href="#affiche">Les films à l'affiche</a></li>
                        <li><a href="/lien">Prochainement</a></li>
                        <li><a href="#lastmin">Dernière minute</a></li>
                    </ul>
                </li>
                <li class="item-menu">
                    <a href="http://bordeaux.megarama.fr/FR/12/prochainement-cinema-megarama.html">Évènements</a>
                    <ul class="subnav">
                        <li><a href="/lien">Fête du cinéma</a></li>
                        <li><a href="/lien">Festival du cinéma</a></li>
                        <li><a href="/lien">Marathon cinéphile</a></li>
                    </ul>
                </li>
                <li class="item-menu">
                    <a href="http://bordeaux.megarama.fr/FR/12/prochainement-cinema-megarama.html">Offres & tarifs</a>
                    <ul class="subnav">
                        <li><a href="#pass">Pass étudiant</a></li>
                        <li><a href="/lien">Abonnements</a></li>
                    </ul>
                </li>
                <li class="item-menu">
                    <a href="http://bordeaux.megarama.fr/FR/12/prochainement-cinema-megarama.html">Infos pratiques</a>
                    <ul class="subnav">
                        <li><a href="#coordo">Localisation</a></li>
                        <li><a href="#coordo">Contact</a></li>
                        <li><a href="#groupeinfo">Groupe megarama</a></li>
                        <li><a href="#mention">Mention légales</a></li>
                        <li><a href="#mention">Confidentialités et cookies</a></li>
                    </ul>
                </li>
                <form class="d-flex barre">
                    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Recherche</button>
                </form>
            </ul>   

        </nav>
    </div>
</header>