<header class="cover">
    <img class="j2" src="/assets/images/image 15.png" alt="cover">
     <div class="logo">
         <img src="/assets/images/LogoPeyo.png" alt="logo megarama">
     </div>
     <h1 class="gros_titre col-4">Jumanji
     </h1>

 </header>

 <header class="menu">

 <div class="header">
     <nav>
         <ul class="menu1">
             <li class="item-menu">
                 <a class="link-menu" href="films.html">Films</a>
                 <ul class="subnav">
                     <li>les films à l'affiche</li>
                     <li> Prochainement</li>
                     <li>Dernière minute</li>
                 </ul>
             </li>
             <li class="item-menu">
                 <a href="http://bordeaux.megarama.fr/FR/12/prochainement-cinema-megarama.html">Evenements</a>
                 <ul class="subnav">
                     <li>Fête du cinéma</li>
                     <li>Festival du cinéma</li>
                     <li>Marathon cinéphile</li>
                 </ul>
             </li>
             <li class="item-menu">
                 <a href="http://bordeaux.megarama.fr/FR/12/prochainement-cinema-megarama.html">Offre & tarifs</a>
                 <ul class="subnav">
                     <li>Pass étudiant</li>
                     <li>Abonnements</li>
                 </ul>
             </li>
             <li class="item-menu">
                 <a href="http://bordeaux.megarama.fr/FR/12/prochainement-cinema-megarama.html">Infos pratiques</a>
                 <ul class="subnav">
                     <li>Localisation</li>
                     <li> Contact</li>
                     <li>Groupe megarama</li>
                     <li>Mention légales</li>
                     <li>Confidentialités et cookies</li>
                 </ul>
             </li>
             <form class="d-flex barre">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
         </ul>
         
     </nav>
 </div>
 </header>