<section class="lastmin"> 
    <h2 class="title">Dernières minutes</h2>    
    <div class="wrapper">
        <ul class="list-film"> 
            <li class="affiche">
                <p>Jumanji</p>
                <div class="image">
                    <img src="assets/images/jumanji.jpg" alt="affiche avatar" />
                    <a class="button" href="_pages/flim.html">Réserver</a> 
                </div>
            </li>
            <li class="affiche">
                <p>Avengers</p>
                <div class="image">
                    <img src="assets/images/affiche-avengers.png" alt="affiche avengers" />
                    <a class="button" href="http://127.0.0.1:5500/_pages/flim.html">Réserver</a>
                </div>
            </li>
            <li class="affiche">
                <p>Star Wars</p>
                <div class="image">
                    <img src="assets/images/affiche-star-wars.png" alt="affiche star wars" />
                    <a class="button" href="">Réserver</a>
                </div>
            </li>
        </ul>
    </div>
</section>