<section class="lastmin"> 
    <h2 class="title">Dernières minutes</h2>    
    <div class="wrapper">
        <ul class="list-film"> 
            <li class="affiche">
                <p class="title-film">Jumanji</p>
                <div class="image">
                    <img src="assets/images/affiche-jumanji.jpg" alt="affiche avatar" />
                    <a class="button" href="">Réserver</a> 
                </div>
            </li>
            <li class="affiche">
                <p class="title-film">Avatar</p>
                <div class="image">
                    <img src="assets/images/affiche-avatar.png" alt="affiche avengers" />
                    <a class="button" href="/film">Réserver</a>
                </div>
            </li>
            <li class="affiche">
                <p class="title-film">Star Wars</p>
                <div class="image">
                    <img src="assets/images/affiche-star-wars.png" alt="affiche star wars" />
                    <a class="button" href="">Réserver</a>
                </div>
            </li>
        </ul>
    </div>
</section>