<article class="article_ou" id="coordo">
    </br></br></br></br>
    <h2 class="Ou">Où nous trouver?</h2>
    <div class="ou_div">
        <div class="list_ou">
            <div class="icon_ou">
                <img height="50" width="36" src="/assets/images/logo-map.png">
                <li class="add_ou"> 7 quai des Queyyries, <br />33100 Bordeaux</li>
            </div>
            <div class="icon_ou">
                <img height="36" width="36" src="/assets/images/logo-tel.png">
                <li class="add_ou"><br />05 56 40 66 70</li>
            </div>
            <a class="button_ou" href="https://i.ytimg.com/vi/dnHQn_mpDpk/maxresdefault.jpg">En savoir plus</a>
        </div>
        <img height="256" width="386" src="/assets/images/map.png">
    </div>
</article>