
<section class="all">
<section class="titre">

    <div>
     <h2> Les séances de la semaine </h2>
    </div>
</section>

<section class="reservation "id="reservation">
    <div class="flechedroite"id="reservationdroite">
        <img src="../assets/images/XMLID_1199_.png" alt="">
    </div>
    <div class="flechegauche"id="reservationgauche">
        <img src="../assets/images/XMLID_1201_.png" alt="">
     </div>
<div class="slide">  
   <div class="date"id="date"> 
        <a class="button" href="">Lundi 22</a> 
        <a class="button" href="">Mardi 23</a>
        <a class="button" href="">Mercredi 24</a>
        <a class="button" href="">Jeudi 25</a>
        <a class="button" href="">Vendredi 26</a> 
        <a class="button" href="">Samedi 27</a>
        <a class="button" href="">Dimanche 28</a>
        <a class="button" href="">Lundi 29</a>
    </div>
</div>
</section>
<h3> Les horaires </h3>
<section class="reservation1 "id="heure">
    <div class="flechedroite1"id="heuredroite">
        <img src="../assets/images/XMLID_1199_.png" alt="">   
    </div>
    <div class="flechegauche1"id="heuregauche">
        <img src="../assets/images/XMLID_1201_.png" alt="">
     </div>
<div class="slide1">
    <div class="heure "id="heure"> 
        <a class="button" href="">16h30h</a> 
        <a class="button" href="">18h30h</a>
        <a class="button" href="">20h30h</a>
        <a class="button" href="">22h00h</a>
        <a class="button" href="">14h30h</a> 
        <a class="button" href="">12h00h</a>
        <a class="button" href="">10h00h</a>
        <a class="button" href="">9h30h</a>
    </div>
</div>
</section>
<section class="boutonhorraire">
    <a class="button" href="">Voir toute les horaire</a> 
    <a class="button" href="">Reserver ma séances</a>
    <br>
    <br>
    <br>
</section>
</section>
