<section id="pass">
<div class="passetu">
    <div class="image">
        <img src="assets/images/phones.png" class="phonepass" alt="phone pass">
    </div>
    <div class="pass">
        <h2>le Pass Etudiant</h2>
        <h3>Tout le cinéma à prix réduit</h3>
        <p class="tarif" >25€/mois avec accés illimité aux dernières <br> sorties et avant-premières*</p>
        <a class="button" href="lien">Découvrir</a>
        <P class="sub-text">*Offre valable dans tous les cinémas Megarama situés en France Métropolitaine</P>
    </div>
</section>