<section class="sec_boutton">
    <section class="synopsis">
        <div class="containers">
            <div class="row">

                <div class="all-text-film des col-5">
                    <h2 class="title-synopsis"> Synopsis </h2>
                    <p class="text-synopsis">Après avoir découvert une vieille console contenant
                        un jeu vidéo dont ils n'avaient jamais entendu parler,
                        quatre jeunes se retrouvent
                        mystérieusement propulsés au coeur de la jungle
                        de Jumanji, dans le corps de leurs avatars. Ils
                        découvrent rapidement que l'on ne joue pas à
                        Jumanji, mais que c'est le jeu qui joue avec vous.
                        Pour revenir dans le monde réel, il va leur falloir
                        affronter les pires dangers et triompher de l'ultime
                        aventure. Sinon, ils resteront à jamais prisonniers
                        du jeu.
                        
<br><br>

                        Réalisateur : Jake Kasdan
                        Scénario : Chris McKenna, Jeff Pinkner, Erik Sommers, Scott Rosenberg
                        Distribution : Dwayne Johnson, Jack Black, Kevin Hart</p>
                        
                </div>
                <img class="j1 col-4" src="assets/images/Presentation.png" alt="affiche">
                <div class="ba-parent">
                    <a class="ba" href="https://i.ytimg.com/vi/dnHQn_mpDpk/maxresdefault.jpg">Bande Annonce</a>
                </div>
            </div>
           


        </div>

        <div>

    </section>
   
</section>