.text1{
    font-size:59px ;
    color: white;
    text-align: center;
    padding: 10px;
    font-family:'Poppins';
    font-size: 48px;
    font-weight: bold;
}
.text2{
    font-size:36px ;
    color: white;
    text-align: center;
    justify-content: center;
    font-family:'Poppins';
    font-size: 24px;
    font-weight: bold;

}
.affiche3
{
    flex-direction: column;
    display: flex;
    background-color: #353535;
    align-self: center;
    justify-content: center;
    background-size:cover ;
    padding:50px;
    
}

.carousel-item{
    img{
        height: 500px;
        object-fit: cover;
        z-index: 0;
    }
}
.carousel {
    padding-right: 0px ;
    padding-bottom: 50px ;
    background-color: #353535;
}
.carousel-control-next
{
   border-color:#c4a42e7e ; 
}
.btn-outline-success {
    color:#c4a42e7e;
}
.btn-outline-success
{
    border-color: darkgoldenrod;

}
.btn-outline-success:hover
{
    color: darkgray;
    border-color: darkgray;
    background-color: white;
}
