.text1{
    font-size:36px ;
    color: white;
    text-align: center;
    font-family:'Poppins', sans-serif;
}
.text2{
    font-size:24px ;
    color: white;
    text-align: center;
    justify-content: center;
    font-family:'Poppins', sans-serif;

}
.affiche3
{
    flex-direction: column;
    display: flex;
    background-color: #353535;
    align-self: center;
    justify-content: center;
    background-size:cover ;
    
}
body {
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}