
footer{
    color:#C4A32E;

    justify-content: flex-end;
    background-color: #0D0D0D; 


}

.dimen_logo{
    max-width: 54px;
    max-height: 47px;
}
@media (min-width:992px) {
    .dimen_logo{

        max-width: 129.39px; 
        max-height: 129px;
    }
}
.Film{
    margin-top: 36px;
}
.Event{
    margin-top: 36px;
}

.Money{
    margin-top: 36px;
}
.titre-menu-footer-accueil{
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    margin:0px;
    padding: 0px;
    font-weight: bold;
}
.titre-menu-footer { 
    font-family: 'Poppins', sans-serif; 
    font-size: 15px;
    padding-top: 39px;
    font-weight: bold;


}
.lien-footer{
    text-decoration: none;
    color: #C4A32E;
}
.all-link:hover .lien-footer{
    color: #ffffff;
    text-decoration-line: overline;
    text-decoration-color: #C4A32E;
}
@media (min-width:992px) {
    .titre-menu-footer{
        font-size: 30px;
    }
}


.film-sous-menu:hover{
color: #ffffff;
}


li { 
    font-family: Open, sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
@media (min-width:992px) {
    li{
        font-size: 24px;
    }

}

.global {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    margin: 0px;

    
    
}
.global2 {
 
    justify-content: space-evenly;
    margin: 0px;
    align-items: center;
.link-rsx{
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
    align-self: center;
}
.lien-rs{
    display: block;

}
}





.App {
    flex-direction: column;


    
}

.Home {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 3px;
}

img{
    margin: 0px;
}

.logoimage{
    margin: 0px;

    padding: 0px;
    margin-left: 50px;
}

.insta{
    margin-top: 15px;
    margin-left: 15px;
}


.yt{
    margin-top: 10px;
    margin-left: 25px;
}

.tel{
    margin-left: 7.5cm;
}

.foot{
    list-style: none;
    padding-bottom: 0px;

}

.row{
    margin: 0px;
}

.google{
    max-width: 83px;
    max-height: 31px;
}
@media (min-width:992px) {
    .google{

        max-width: 161px; 
        max-height: 62px;
    }
}

.apple{
    max-width: 78px;
    max-height: 30px;
}
@media (min-width:992px) {
    .apple{

        max-width: 152px; 
        max-height: 59px;
    }
}

.rs_responsive1{
    max-width: 45px;
    max-height: 45px;
}
@media (min-width:992px) {
    .rs_responsive1{

        max-width: 90px; 
        max-height: 90px;
    }
}

.rs_responsive2{
    max-width: 45px;
    max-height: 45px;
}
@media (min-width:992px) {
    .rs_responsive2{

        max-width: 65px; 
        max-height: 65px;
    }
}



.insta:hover{
    color: white;
}

.col-lg-1:hover
{
    color:white;
}
