header{
    margin:0px ; 
    
    
}
.cover{
    margin-bottom: -55px;
    display: flex;
    img {
        object-fit: cover;
    }

    img {
        width: 100%;
        object-fit: cover;
    }



}
.gros_titre{
    color: white;
    font-family:'Poppins';
    font-size: 59px;
    font-weight: bold;
    line-height: 70px;
    margin-top: 250px;
    margin-left: 120px;
    position: absolute;
    
}


.logo {
    margin-top: 50px;
    display: flex;
    margin-left: 93px;
    position:absolute
}

.button2 
{
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top:10px;
    flex: 3 auto;
    justify-content: center;
    transition: 0.25s;
}
.menu_deroulant{
    list-style: none;
    display: flex;
}

.menu{
    background-color: rgba(0,0,0,0.3);
    position: sticky;
    top: 0px;
    margin-left: 120px;
    margin-bottom: -20px;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    z-index: 100;
    padding: 8px;
}

ul{
    list-style: none;
    z-index: 999;
}

.d-block{
    z-index: 1;
}

.background{
    display: flex;
  
}
.titre-film{
    color: white;
}
.categories-films{
    display: flex;
}
.categories-films li{
    color: #C4A32E;
    margin-right: 10px;
}
.menu1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-right: 0px;

    
}


.menu a{
        text-decoration: none;
        color: white;
}
    

.item-menu{

display: none;
}
@media (min-width:992px) {
    .item-menu{
        display: flex;
        width: 200px;
        align-items: center;
        text-align: center;

    }
}

.item-menu:hover{
    border-radius: 1px;
    transition: 0.5 ease-in-out;
    
    
}


.subnav{
    position: absolute;
    align-items: center;
    background-color: #C4A32E;
    transition:  0.5s ease-in-out;
    overflow: hidden;
    text-align: left;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-weight: 200;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    visibility: hidden;
    top: 100%;
    transform: scaleY(0);
    transform-origin: top;
    
}



.item-menu:hover {
    .subnav{
        visibility: visible;
        transform: scaleY(1);
    ;
        
    }
} 

.subnav:hover {
    transition: 0.25s;
     
    
}

ul.subnav{
    padding-left: 0px;
    

 

    li:hover {
         text-decoration-line:underline;
        text-decoration-color: #C4A32E;

        
    }

    .text-sous-menu:hover {
        
        text-decoration-color: #C4A32E;
        text-decoration-line:underline;
    
        
    }
}

.button2:hover{ 
    background-color: rgba($color: #C4A32E , $alpha: 0.5);
    transition: 0.25s;
}


.background {
    display: flex;
}

.first-marge{ 
    margin-left: 119px;
}
.barre {
    padding-right: 50px;
}
.text-sous-menu{
    text-decoration-line:underline;
}