header{
    margin:0px ; 
    
    
}
.cover{
    margin-bottom: -55px;
    display: flex;
    img {
        object-fit: cover;
    }

    img {
        width: 100%;
        object-fit: cover;
    }



}
.gros_titre{
    color: white;
    font-family:'Poppins';
    font-size: 59px;
    font-weight: bold;
    line-height: 70px;
    margin-top: 250px;
    margin-left: 120px;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.2);
    
}


.logo {
    margin-top: 50px;
    display: flex;
    margin-left: 93px;
    position:absolute
}

.button2 
{
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top:10px;
    flex: 3 auto;
    justify-content: center;
    transition: 0.25s;
}
.menu_deroulant{
    list-style: none;
    display: flex;

    
}

.menu{
    background-color: rgba(0,0,0,0.3);
    position: sticky;
    top: 0px;
    margin-left: 120px;
    margin-bottom: -20px;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    z-index: 100;
    
    padding: 8px;
}

ul{
    list-style: none;
    z-index: 999;
}

.d-block{
    z-index: 1;
}

.background{
    display: flex;
  
}
.titre-film{
    color: white;
}
.categories-films{
    display: flex;
}
.categories-films li{
    color: #C4A32E;
    margin-right: 10px;
}
.menu1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-right: 0px;

    
}

.menu a{
    color: white;
    text-decoration: none;
}

.item-menu{
    width: 200px;
    align-items: center;
    text-align: center;
    transition: 0.25s;
}

.item-menu:hover{
    background: #c4a42e7e;
    border-radius: 1px;
    transition: 0.5 ease-in-out;
}

.subnav{
    position: absolute;
    align-items: center;
    background-color: rgba($color: #535353, $alpha: 0.9);
    transition: 0.5s ease-in-out;
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-weight: 200;
}



.item-menu:hover {
    .subnav{
        max-height: 300px;
    }
} 

.subnav:hover {
    transition: 0.25s;
}

ul.subnav{
    padding-left: 0px;

    li {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    li:hover {
        text-decoration-line:underline;
        text-decoration-color: #C4A32E;
        transition: 0.25s ease-in-out;
    }

    a:hover {
        text-decoration-line:underline;
        text-decoration-color: #C4A32E;
        transition: 0.25s ease-in-out;
    }
}

.button2:hover{
    background-color: rgba($color: #C4A32E , $alpha: 0.5);
    transition: 0.25s;
}


.background {
    display: flex;
}

.first-marge{ 
    margin-left: 119px;
}
.barre {
    padding-right: 50px;
}
