.history{
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 1321, 548px;
}
.text{

    margin-left: 203px;
    margin-right: 182px;
    margin-bottom: 60px;
    font-family:'Open Sans', sans-serif;
    font-size: 24px;

}

.button-history {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #C4A32E;
    padding: 10px;
    border-radius: 10px;
    transition: 0.25s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 19px;
    margin-bottom: 108px;
    border: 3px solid #353535;
}

.title {
    font-family: Poppins, sans-serif;
    font-size: 47px;
    margin-bottom: 37px;
    padding-top: 62px;
    }

.button-history:hover{
    background: #353535;
    color: white;
    transition: 0.25s;
    border: 3px solid #C4A32E;

}