.cover{
    
    .j2 {
        height: 700px;
        width:100% ;
        position: relative;
        
        
    }
    .bouttonseance{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 300px;
        margin-right: 300px;
        
    }


}

.logo{
    margin-left: 25px;
}
@media (min-width:992px) {
    .logo{
        margin-left: 120px;
    }
}

.gros_titre{
    margin-left: 25px;
}
@media (min-width:992px) {
    .gros_titre{
        margin-left: 120px;
    }
}
.genre{
    color: orange;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bold;
    line-height: 70px;
    margin-top: 350px;
    margin-left: 120px;
    position: absolute;
    flex: 1 18px;

}

