.cover{
    img {        
        width:100% ;
    }
    .j2 {
        height: 700px;
        width:100% ;
        object-fit: cover;
    }



}

.logo{
    margin-left: 25px;
}
@media (min-width:992px) {
    .logo{
        margin-left: 120px;
    }
}

.gros_titre{
    margin-left: 25px;
}
@media (min-width:992px) {
    .gros_titre{
        margin-left: 120px;
    }
}
