.cover{
    
    .j2 {
        height: 700px;
        width:100% ;
        position: relative;
        
        
    }
    .bouttonseance{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 300px;
        margin-right: 300px;
        
    }


}

.logo{
    margin-left: 25px;
}
@media (min-width:992px) {
    .logo{
        margin-left: 120px;
    }
}

.gros_titre{
    margin-left: 25px;
}
@media (min-width:992px) {
    .gros_titre{
        margin-left: 120px;
    }
}
.genre{
    color: orange;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bold;
    line-height: 70px;
    margin-top: 350px;
    margin-left: 120px;
    position: absolute;
    flex: 1 18px;

}

.button-jumanji {
    
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #C4A32E;
    padding: 7px;
    border-radius: 10px;
    transition: 0.25s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 19px;
    margin-bottom: 108px;
    border: 3px solid #C4A32E;  
    justify-content: flex-end;
    margin-left: 1000px;
}

.button-jumanji:hover{
    background: #353535;
    color: white;
    transition: 0.25s;
}