.lastmin {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content:space-between;
    align-items:center;
    background-color: white;
    margin-top: 0px;
}
    


.title{
    font-weight: bold;
    font-size: 47px;
    }
.title-film{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    margin-top: 116px;
}

.lastmin .title {
    margin: 0;
    font-size: 47px;
    text-align: center;
}
.lastmin .wrapper {
    max-width: 100%;
}

.list-film {
    max-width: 100%;
    padding: 0px;
    display: block;
    flex-direction: row;
    list-style: none;
    text-align: center;
    overflow-x: auto;

}
@media (min-width:992px) {
    .list-film{
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
    }
}

.lastmin .affiche-lastmin img {
     width: 100%;
     opacity: 1;
}
.lastmin .affiche-lastmin:hover img {
  
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}
.lastmin .image-affiche-lastmin {
    background-color:#353535;
    position: relative;
}
.lastmin .affiche-lastmin {
    margin-left: 3rem;
    margin-right: 3rem;
    height: auto;
    width: 300px;
    min-width: 250px ;
    margin-bottom: 50px;
    transition: 0.25s;
    margin-top: 20px;
    
}
.lastmin .affiche-lastmin:hover .button-lastmin {
    opacity: 1;
}
.lastmin .affiche-lastmin:hover {
    transition: 0.25s;
    width: 320px;
}
.lastmin .affiche-lastmin p {
    font-size: 24px;
}
.lastmin .affiche-lastmin .button-lastmin {
    text-align: center;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #C4A32E;
    padding: 10px 30px;
    border-radius: 30px;
    transition: 0.25s;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    opacity: 0;
}
.lastmin .button-lastmin:hover{
    background: #353535;
    color: white;
    transition: 0.25s;
    opacity: 1;
}
