@font-face { font-family: Poppins; src: url('Poppins.otf'); } 




.button_ou {
    align-self: flex-start;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #C4A32E;
    padding: 7px;
    border-radius: 10px;
    transition: 0.25s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 19px;
    border: 3px solid #C4A32E;

}
.Ou{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding-bottom: 64px;
}
@media (min-width:992px) {
    .Ou{
        font-size: 47px;

    }
}

.add_ou{
    color: white;
    list-style:none;
margin-left: 30px;
margin-bottom: 60px;

}

.ou_div{
    display: flex;
    justify-content: space-around;

}

.list_ou{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 50px;
}

.button_ou:hover{
    background: #353535;
    color: white;
    border: 3px solid #C4A32E;
    transition: 0.25s; 
}

.article_ou{
    padding: 0px;
    background-color: #353535;
    padding-bottom: 104px;
}

.icon_ou{
    display: flex;
    flex-direction: row;
}

.buttontop {
    justify-content:flex-start;
}

.map {
    max-width: 330px;
    max-height: 179px;
    margin-left: 30px;
}
@media (min-width:992px) {
    .map{

        max-width: 386px; 
        max-height: 256px;

    }
}