.horraire3
{
    font-size: 38px;
    color: black ;
    font-family: 'poppins', sans-serif;
    margin-left: 100px;
    padding: 30px;
}
.all 
{
    background-color: white;
    margin:0px;
}
.reservation
{
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 50%;
   
    
   
}
.date {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 200%;
    transition:transform 0.5s ;
    }
.heure {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 200%;
    transition:transform 0.5s;

}


.flechedroite
{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 1200px;
    bottom : -5px ;




}
.slide
{
    overflow: hidden;
    width: 100%;
    position: relative;
}

.date .button
{
   width: auto ;
}

.heure .button 
{
    width: auto ;
}
.slide1
{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.flechedroite1
{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 1200px;
    bottom : -5px ;
}
.reservation1 
{
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 50%;
   
    
   
}

.flechegauche {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-right: 1200px;
    bottom : 5px ;
}
.flechegauche1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: -1200px;
    bottom : 5px ;
}
.boutonhorraire
{
    display: flex;
    padding: 30px;
    justify-content: space-evenly ;
    width: 80;
    
}
