h2
{
    margin-top:0% ;
    font-size: 59px;
    color: black ;
}
h3 {
    font-size: 36px;
    color: black;
}
.all {
    background-color: white;
    margin:0px;
}
.reservation{
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 50%;
   
    
   
}
.date {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 200%;
    

}
.heure {
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}
.choixheure 
{
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
}
.boutonhorraire {
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 130%;

}
.flechedroite
{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 1500px;
    bottom : -5px ;




}
.slide
{
    overflow: hidden;
    width: 100%;
    position: relative;
}

.date .button
{
   width: auto ;
}

