.texts{
    display: flex;
    font-size: 56px; 
    color: white;

}
.des {
    font-size: 24px;
    margin-top: 50px;
    color: white;
    line-height: 120%;
    margin-left: 75px;


}
.synopsis {

    background-color: #353535;
}
.j1 {
    display: flex;
    justify-content:right;
    justify-items: right;
    margin-left: 150px;
    margin-top: 50px;
}

.ba{
    margin-left: 275px;
    justify-content: center;
    
}

.synop
{
    font-weight: bold;
    color: white;
    display : block;
    text-decoration: none;
}

span {
    font-weight: bold;
    font-size: 38px;
    max-height: 200px;

}