.texts{
    display: flex;
    font-size: 56px; 
    color: white;

}
.des {
    font-size: 24px;
    display: flex;
    color: white;
    line-height: 120%;

}
.synopsis {

    background-color: #353535;
}
.j1 {

    justify-content:right;
    justify-items: right;
    max: 100% ;
}